/* Style global */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Variables */
:root {
    --eyes-animation-duration: 10s;
}
/* Style index.html */
/** Style earth **/

.earth {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    background-image: url("src/img/earth_skin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 75vw;
    max-width: 600px;
    margin: auto;
}

#earth__eyes__left,
#earth__eyes__right {
    position: absolute;
    bottom: 50%;
    background: white;
    border-radius: 50%;
    height: 20vh;
    width: calc(20vh * 9 / 16); /* ratio fixe */
    animation: eyesBlink var(--eyes-animation-duration) infinite;
}

#earth__eyes__left { left: 25%; }
#earth__eyes__right { right: 25%; }

@keyframes eyesBlink {
    0%, 4%, 100% {
        height: 20vh;
        background: white;

    }
    2% {
        height: 0vh;
        background: black;
    }
}

#earth__eyes__left__pupil,
#earth__eyes__right__pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    height: 10vh;
    width: calc(10vh * 9 / 16);
    animation: pupilBlink var(--eyes-animation-duration) infinite;
}

@keyframes pupilBlink {
    0%, 4%, 100% {
        top: 50%;
        height: 10vh;
        
    }
    2% {
        top: 40%;
        height: 0vh;
    }
}


#earth__mouth{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 10%;
    background: transparent;

    border: solid black 1vh;
    border-radius: 10px;
}

@keyframes mouthSpeak {
    0% { transform: translateX(-50%) scaleY(1); }
    33% { transform: translateX(-50%) scaleY(0.25); }
    66% { transform: translateX(-50%) scaleY(2); }
    100% { transform: translateX(-50%) scaleY(1); }
}

#earth__mouth.speaking {
    animation: mouthSpeak 1s linear infinite;
}




/* —— Responsive : mobiles —— */
@media (max-width: 600px) {
    .earth{
        width: 90vw;
    }

    #earth__eyes__left,
    #earth__eyes__right {
        height: 12vh;
        width: calc(12vh * 9 / 16);
        bottom: 45%;
    }

    @keyframes eyesBlink {
        0%, 4%, 100% {
            height: 12vh;
            background: white;
        }
        2% {
            height: 0vh;
            background: black;
        }
    }

    #earth__eyes__left__pupil,
    #earth__eyes__right__pupil {
        height: 6vh;
        width: calc(6vh * 9 / 16);
    }

    @keyframes pupilBlink {
        0%, 4%, 100% {
            height: 6vh;
            top: 50%;
        }
        2% {
            top: -40%;
            height: 0vh;
        }
    }
}
